.version.about /* version checker */
{
	color: #00001F;
	background-color: #DC1323;
}

.html
{
	background: #FFFFFF url("../images/blurred%20background%20p2%203.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1200px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u94
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 3px;
}

#u94_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u434
{
	z-index: 35;
	width: 50px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1136px;
}

#u171-4
{
	z-index: 31;
	width: 145px;
	min-height: 22px;
	padding: 10px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 1201px;
}

#u171-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	width: 145px;
	margin: 3px -10000px 0px 0px;
}

#u94-bw
{
	z-index: 2;
	min-height: 59px;
}

#pu154-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1138px;
	margin-left: -232px;
}

#u154-3
{
	z-index: 3;
	width: 1603px;
	min-height: 62px;
	margin-right: -10000px;
}

#menuu112
{
	z-index: 6;
	width: 1200px;
	margin-right: -10000px;
	left: 232px;
}

#u113
{
	width: 298px;
	min-height: 62px;
	margin-right: -10000px;
}

#u114
{
	width: 298px;
	padding-bottom: 32px;
}

#u114:hover
{
	width: 298px;
	min-height: 0px;
	margin: 0px;
}

#u114:active
{
	width: 298px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 298px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
}

#u114:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u114:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 298px;
	min-height: 62px;
	margin-right: -10000px;
	left: 300px;
}

#u123
{
	width: 298px;
	padding-bottom: 32px;
}

#u114.MuseMenuActive,#u123:hover
{
	width: 298px;
	min-height: 0px;
	margin: 0px;
}

#u123:active
{
	width: 298px;
	min-height: 0px;
	margin: 0px;
}

#u123.MuseMenuActive
{
	width: 298px;
	min-height: 0px;
	margin: 0px;
}

#u126-4
{
	width: 298px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
}

#u114.MuseMenuActive #u116-4,#u123:hover #u126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u123:active #u126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u123.MuseMenuActive #u126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 299px;
	min-height: 62px;
	margin-right: -10000px;
	left: 600px;
}

#u135
{
	width: 299px;
	padding-bottom: 32px;
}

#u135:hover
{
	width: 299px;
	min-height: 0px;
	margin: 0px;
}

#u135:active
{
	width: 299px;
	min-height: 0px;
	margin: 0px;
}

#u138-4
{
	width: 299px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
}

#u135:hover #u138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u147
{
	width: 299px;
	min-height: 62px;
	margin-right: -10000px;
	left: 901px;
}

#u148
{
	width: 299px;
	padding-bottom: 32px;
}

#u135.MuseMenuActive,#u148:hover
{
	width: 299px;
	min-height: 0px;
	margin: 0px;
}

#u148:active
{
	width: 299px;
	min-height: 0px;
	margin: 0px;
}

#u148.MuseMenuActive
{
	width: 299px;
	min-height: 0px;
	margin: 0px;
}

#u149-4
{
	width: 299px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
}

#u135.MuseMenuActive #u138-4,#u148:hover #u149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u148:active #u149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u148.MuseMenuActive #u149-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1138px;
}

