#u94
{
	background: #464646 url("../images/shelf%20shadow%202%20flat.png") no-repeat right top;
	background-size: cover;
}

#u94_align_to_page
{
	position: relative;
}

#u171-4
{
	border-width: 5px;
	border-style: solid;
	border-color: #1CB7D5;
	background-color: transparent;
	line-height: 26px;
	color: #1CB7D5;
	text-align: center;
	font-size: 26px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u171-4:hover
{
	background-color: #1CB7D5;
	border-radius: 40px;
}

#u171-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u154-3
{
	color: #1CB7D5;
	position: relative;
	background: #464646 url("../images/shelf%20shadow%201%20lifted%20corners.png") no-repeat left top;
	background-size: cover;
}

#u434,#menuu112
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u113,#u114
{
	background-color: transparent;
	position: relative;
}

#u114:hover
{
	background-color: #999999;
}

#u114:active
{
	background-color: #6B6B6B;
}

#u116-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	color: #1CB7D5;
	text-align: center;
	font-size: 25px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u120,#u123
{
	background-color: transparent;
	position: relative;
}

#u114.MuseMenuActive,#u123:hover
{
	background-color: #999999;
}

#u123:active
{
	background-color: #6B6B6B;
}

#u126-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	color: #1CB7D5;
	text-align: center;
	font-size: 25px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u134,#u135
{
	background-color: transparent;
	position: relative;
}

#u123.MuseMenuActive,#u135:hover
{
	background-color: #999999;
}

#u135:active
{
	background-color: #6B6B6B;
}

#u138-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	color: #1CB7D5;
	text-align: center;
	font-size: 25px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u147,#u148
{
	background-color: transparent;
	position: relative;
}

#u135.MuseMenuActive,#u148:hover
{
	background-color: #999999;
}

#u148:active
{
	background-color: #6B6B6B;
}

#u148.MuseMenuActive
{
	background-color: #999999;
}

#u149-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	color: #1CB7D5;
	text-align: center;
	font-size: 25px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

